<div class="container">

  <div class="rickandmorty">
    <div class="ricknmorty">
    </div>
    <div class="container tittle">

      <img src='{{tittle}}' alt='image' class="tittle">
      <img src='{{portal}}' alt='image' class="portal">

    </div>
  <div class="container">
      
    </div>
    <img src='{{backGroundImages}}' alt='image' class="backGroundImages">
  </div>
  <div class="search-div" >
    <input #inputSearch (keyup)="onSearch(inputSearch.value)" type="text" class="search-bar" placeholder="Search..">
  </div>
 
</div>