

   
   .tittle{
  
    z-index: 2;
    left: 40%;
    display:grid;
    place-items: center;
    height: 70%;
    width: 80%;
    top: 0;
  }

  

.portal{
  margin-top:1%;
  left: 28%;
  display:grid;
  place-items: center;
  position: center;
  position: absolute;
  height: 50%;
  top: 0;
  width: 40%;
}

.game{
  margin-top:10%;
  left: 21%;
  display:grid;
  place-items: center;
  position: center;
  position: absolute;
  height: 60%;
  top: 0;
  width: 55%;

}


