

   
   .tittle{
  
    z-index: 2;
    left: 40%;
    display:grid;
    place-items: center;
    height: 70%;
    width: 80%;
    top: 0;
  }

  

.portal{
  margin-top:1%;
  left: 28%;
  display:grid;
  place-items: center;
  position: center;
  position: absolute;
  height: 50%;
  top: 0;
  width: 40%;
}

.game{
  margin-top:10%;
  left: 18%;
  display:grid;
  place-items: center;
  position: center;
  position: absolute;
  height: 60%;
  top: 0;
  width: 55%;

}

.rickandmorty{
  left: 20%;
}


@media(max-width: 768px) {
  .card{
    opacity: 0.8;
  }
  .portal{
    visibility: hidden;

  }
  .game{
    visibility: hidden;
  }
}