.backGroundImages{
    background-size: cover;
    width: 100%;
    left: 0;
    background-position: center;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
   
   }

   .tittle{
    position: fixed;
    z-index: 2;
    left: 20%;
    align-items: center;
    height: 50%;
    width: 60%;
   }

   .rick{
   
    position: fixed;
    z-index: 2;
    top: 75%;
    left: 0;
    height: 20%;
    width: 10%;
   }
  

.portal{
  align-items: center;
  left: 35%;
  position: center;
  position: fixed;
}

.framework{
  position: absolute;
  padding: 10% ;
  border: PowderBlue 5px solid;
  border-radius: 20px;
  top: 50%;
}