<div class="container">

  <div class="rickandmorty">
    <div class="ricknmorty">

    </div>
    <div class="container tittle">

      <img src='{{tittle}}' alt='image' class="tittle">
      <img src='{{portal}}' alt='image' class="portal">

    </div>

    <div class="container">
      <div class="framework">
        <p>Rick and morty api</p>
      </div>
    </div>

    <div class="container rick">
      <img src='{{rick}}' alt='image' class="rick">
    </div>
    <img src='{{backGroundImages}}' alt='image' class="backGroundImages">
  </div>

</div>