.container {

  top: 10px;
}
.search-bar{
    width: 70%;
    display: grid;
    place-items: center;
   
   
  }
  .search-div{

    display: grid;
    place-items: center;
    position: relative;
    margin-bottom: 5%;
   
  }
   

  .button{
  height: 80%; 
  }
  .row{
    margin: 3%;
  }
  .card{
    margin-bottom: 10%; 
  }

