.character-features{
    top: 0;
    float: right;
}
.text{
    color: white;
}


.button-back {
    display: block;
    width: 150px;
    height: 56px;
    line-height: 56px;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
    margin: 15px auto;

    font-family: "Montserrat-Bold", "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #a9a9a9;
    transition: 0.2s ease-in;
  }
  
  .button-back:hover,
  .button-back:focus {
    background-color: #f6f6f6;
    color: #000;
  }