.character-features {
    display: grid;
    place-items: center;
    margin-top: 10%;
    line-height: 60px;  // Ajusta este valor para el espacio entre líneas
    border: solid 2px #fff;  // Ajusta el color y el grosor del borde
    margin-bottom: 5%;
  
    h2, h4 {
      margin-bottom: 10px;  // Ajusta este valor para el espacio entre los elementos h2 y h4
    }
  
    a {
      color: inherit;  // Mantén el color del texto como está o ajusta según sea necesario
      text-decoration: none;  // Quita el subrayado del enlace
      transition: color 0.3s ease-in-out;  // Agrega transición para el color del texto
  
      &:hover {
        color: goldenrod;  // Cambia el color del texto a dorado en hover
      }
    }
  }
  
  
.text{
    color: white;
}
.character-img {
    border: solid 10px #f2f4f4;  /* Ajusta el color y el grosor del borde */
    transition: border-color 0.3s ease;  /* Agrega una transición suave al color del borde */
}

.character-img:hover {
    border-color: #ff9900;  /* Cambia el color del borde al hacer hover */
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    

}

.button-back {
    display: block;
    width: 150px;
    height: 56px;
    line-height: 56px;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
    margin: 15px auto;

    font-family: "Montserrat-Bold", "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #a9a9a9;
    transition: 0.2s ease-in;
  }
  
  .button-back:hover,
  .button-back:focus {
    background-color: #f6f6f6;
    color: #000;
  }