<div class="row" *ngIf="character$ | async as character">
  <div class="justidy-content-center">
    <div class="character-container">
      <div class="img-container">
        <img [src]="character.image" [alt]="character.name" class="character-img" />
      </div>


      <div class="character-features">
        <h2 class="text">{{ character.name | slice:0:15 }}</h2>
        <h4 class="text">Gender: {{ character.gender }}</h4>
        <h4 class="text">Species: {{ character.species }}</h4>
        <h4 class="text">Creation date: {{ character.created | date }}</h4>
        <h4 class="text">Origin location: {{ character.origin.name }}</h4>
        <h4 class="text">Location: {{ character.location.name }}</h4>
      </div>
    </div>
  </div>
</div>
<button (click)="onGoBack()" class="button-back">BACK</button>